* {
  font-family: "Montserrat";
}

/* Bagian Header */
h1 {
  font-weight: 700;
  font-size: 48px;
  margin: 0 0 16px 0;
}

a {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

p {
  color: #979797;
  margin: 0 0 16px 0;
  font-size: 24px;
}

/* Section Landing */
.btn {
  background-color: #ffc108;
  color: white;
  padding: 8px 24px;
}

.btn-alt {
  background-color: white;
  color: black;
  margin-right: 16px;
  border: 2px solid #ffc108;
}

/* Bagian Header */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 120px;
}

#header .h1 {
  margin: 0;
}

/* Section Landing */
#landing {
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 16px;
}
#landing p {
  margin-bottom: 32px;
}

nav > a {
  color: #ffc108;
  margin-left: 12px;
}

/* Seluruh Section */
section {
  padding: 64px 128;
}
